<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         colors="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         verbose="true">
    <testsuites>
        <testsuite name="CraftStatic">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true" />
        <log type="coverage-html" target="work/code_coverage/" showUncoveredFiles="true" lowUpperBound="35" highLowerBound="70" />
    </logging>
</phpunit>
